@font-face {
	font-family: 'AIAIAI';
	src: url(./assets/fonts/AIAIAIv4-Light.woff2) format('woff2');
}

$colors: #25272d, #3c3e44, #55565b, #6f7075, #8a8b8f, #a6a7aa, #c3c3c5, #e0e1e2,
	#ffffff;

@function lighter($deep: 100, $percent: 100) {
	@return rgba(nth($colors, $deep / 100), $percent);
}

@mixin flexPosition($x: center, $y: center) {
	display: flex;
	justify-content: $x;
	align-items: $y;
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: lighter(900);
}
[theme='normal'] {
	font-family: AIAIAI;

	.layout-container {
		min-height: 100vh;
		display: flex;
		flex-direction: column;

		.header {
			height: 300px;
			background-color: lighter(900);
			grid-area: hd;
			overflow: hidden;
		}
		.menubar {
			grid-area: mb;

			height: 4rem;
			color: lighter(100, 70%);
			background-color: lighter(800, 70%);
			font-size: 1rem;
			overflow: hidden;

			display: flex;
			flex-direction: row;
			align-items: center;

			.logo {
				margin: 1rem;
			}
			.site-name {
				margin: 1rem 0;
				padding: 0 1.5rem;
			}
			.menu-item {
				@include flexPosition();
				height: 100%;
				margin: 1rem 0;
				padding: 0 1.5rem;
				cursor: pointer;
				&:hover {
					color: lighter(800);
					background-color: lighter(100, 50%);
				}
				&.current {
					color: lighter(800);
					background-color: lighter(100, 80%);
				}
			}
		}
		.content {
			min-height: 600px;
		}
		.footer {
			@include flexPosition(space-between);
			color: lighter(100, 70%);
			height: 6rem;
			padding: 0 2rem;
			background-color: lighter(100, 5%);
		}
	}

	.unknow {
		height: 100vh;
		background-image: url(assets/images/dribbble.gif);
		background-repeat: no-repeat;
		background-position: center;
		color: lighter(100, 0.7);
		font-weight: 700;
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
			Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

		@include flexPosition();
		flex-direction: column;

		.title {
			font-size: 7rem;
		}
		.gap {
			height: 18rem;
		}
		.desc1 {
			margin: 1.45rem;
			font-size: 2rem;
		}
		.desc2 {
			margin-bottom: 1.4rem;
			font-size: 1.25rem;
		}
		.back {
			padding: 0.8rem 1.5rem;
			border-radius: 0.5rem;
			border: solid 1px lighter(100, 6.5%);
			&:hover {
				border: solid 1px lighter(100, 30%);
			}
			cursor: pointer;
		}
	}
}
