@import './variables.scss';
html,
body {
	margin: 0;
	padding: 0;
	a {
		text-decoration: none;
	}
	background-color: lighter(900);
}
[theme='normal'] {
	font-family: AIAIAI;
	.layout-container {
		min-height: 100vh;
		display: grid;

		.header {
			background-color: leighter(900);
			grid-area: hd;
		}
		.menubar {
			grid-area: mb;

			height: 4rem;
			color: lighter(100);
			background-color: lighter(800);
			font-size: 1rem;
			overflow: hidden;

			display: flex;
			flex-direction: row;
			align-items: center;

			.logo {
				margin: 1rem;
			}
			.site-name {
				margin: 1rem 0;
				padding: 0 1.5rem;
			}
			.menu-item {
				@include flexPosition();
				height: 100%;
				margin: 1rem 0;
				padding: 0 1.5rem;
				a {
					color: lighter(100);
				}
				&:hover {
					color: lighter(800);
					a {
						color: lighter(800);
					}
					background-color: lighter(100);
				}
			}
		}
		.content {
			grid-area: ct;
		}
		.footer {
			background-color: yellow;
			grid-area: ft;
		}
		grid-template-areas:
			'hd'
			'mb'
			'ct'
			'ft';
	}
}
