@font-face {
	font-family: 'AIAIAI';
	src: url(./assets/fonts/AIAIAIv4-Light.woff2) format('woff2');
}

$colors: #25272d, #3c3e44, #55565b, #6f7075, #8a8b8f, #a6a7aa, #c3c3c5, #e0e1e2,
	#ffffff;

@function lighter($deep: 100) {
	@return nth($colors, $deep / 100);
}

@mixin flexPosition($x: center, $y: center) {
	display: flex;
	justify-content: $x;
	align-items: $y;
}
